<div class="row">
  <div class="col-4">

  </div>
  <div class="col-4">
    <h2>Your Grocery Lists</h2>

  </div>
  <div class="col-4">

  </div>
</div>

<div class="row">
  <div class="col-4">

  </div>
  <div class="col-4">
    <p><% @grocery_lists.each do |grocery_list| %>
      <%= link_to grocery_list.title, grocery_list_path(grocery_list) %> - <%= grocery_list.created_at %></p>
    <% end %>
  </div>
  <div class="col-4">

  </div>
</div>
