/* line 11, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
body {
  background-color: #EDD7BC;
}

/* line 15, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.banner-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #240C44;
  margin: 0px;
}

/* Nav Bar */
/* line 25, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
#navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #E99367;
  margin: 0px;
  overflow: hidden;
  z-index: 1;
}

/* line 35, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.col-6a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 16.67%;
}
/* line 42, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.col-6a a {
  font-family: "Tajawal", sans-serif;
  font-size: 22px;
  color: #F3E9DE;
  text-decoration: none;
}
/* line 48, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.col-6a a:hover {
  color: #240C44;
}

/* line 53, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.col-6b {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 16.67%;
}
/* line 60, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.col-6b a {
  border: 3px solid #240C44;
  border-radius: 10px;
  padding: 10px 15px;
  font-family: "Tajawal", sans-serif;
  font-size: 18px;
  color: #240C44;
  text-decoration: none;
}
/* line 70, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.col-6b a:hover {
  border: 3px solid #F3E9DE;
  color: #F3E9DE;
}

/* line 77, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.row {
  display: flex;
  flex-direction: row;
  margin: 10px;
}
/* line 82, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.row h1 {
  font-family: "PT Sans", sans-serif;
  color: #240C44;
  font-size: 35px;
}

/* line 89, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.cart-image-container {
  position: relative;
  height: 50px;
  overflow: hidden;
  z-index: 1;
}
/* line 95, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.cart-image-container .cart-image {
  position: absolute;
  margin: auto;
  overflow: hidden;
  z-index: -1;
}
/* line 101, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.cart-image-container .cart-image img {
  width: 50%;
}

/* Recipe index */
/* line 109, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.recipe {
  text-decoration: none;
  flex: 1;
  min-width: 300px;
  max-width: 300px;
  min-height: 300px;
  max-height: 300px;
  margin: 0.375em;
  margin-bottom: .75em;
  position: relative;
  text-align: center;
}
/* line 122, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.recipe .recipe-image-container {
  position: relative;
  height: 200px;
  overflow: hidden;
}
/* line 128, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.recipe .recipe-image-container .recipe-image {
  position: absolute;
  margin: auto;
  overflow: hidden;
}
/* line 134, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.recipe .recipe-image-container .recipe-image img {
  width: 100%;
}

/* line 141, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.icon {
  padding-right: 20px;
  padding-top: 5px;
}

/* line 146, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.col-2 {
  display: flex;
  flex-basis: 16.67%;
}
/* line 150, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.col-2 a {
  text-decoration: none;
  color: #240C44;
}
/* line 155, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.col-2 a:hover {
  color: #E99367;
}
/* line 159, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.col-2 p {
  font-family: "Tajawal", sans-serif;
  font-size: 18px;
}

/* line 165, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.col-4 {
  display: flex;
  flex-basis: 33.33%;
  margin-bottom: 30px;
}
/* line 170, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.col-4 a {
  text-decoration: underline;
  color: #240C44;
}
/* line 175, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.col-4 a:hover {
  color: #E99367;
}
/* line 179, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.col-4 h1 {
  font-family: "PT Sans", sans-serif;
  color: #240C44;
  display: inline;
}
/* line 185, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.col-4 h2 {
  font-family: "PT Sans", sans-serif;
  color: #ED682C;
  display: inline;
}
/* line 191, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.col-4 h3 {
  font-family: "PT Sans", sans-serif;
  color: #240C44;
  display: inline;
  font-size: 20px;
}
/* line 198, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.col-4 p {
  font-family: "Tajawal", sans-serif;
  color: #240C44;
  font-size: 18px;
}
/* line 206, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.col-4 ul li {
  font-family: "Tajawal", sans-serif;
  color: #240C44;
  font-size: 18px;
}

/* Search Results */
/* line 221, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.recipe-item
.col-4b {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 33.33%;
  margin-bottom: 30px;
}
/* line 235, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.recipe-item
.col-4b p {
  font-family: "Tajawal", sans-serif;
  color: #240C44;
  font-size: 18px;
}
/* line 241, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.recipe-item
.col-4b a {
  border: 3px solid #240C44;
  border-radius: 10px;
  padding: 10px 15px;
  font-family: "Tajawal", sans-serif;
  font-size: 18px;
  color: #240C44;
  text-decoration: none;
}
/* line 251, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.recipe-item
.col-4b a:hover {
  border: 3px solid #ED682C;
  color: #ED682C;
}
/* line 256, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.recipe-item
.col-4b h2 {
  font-family: "PT Sans", sans-serif;
  color: #240C44;
}
/* line 261, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.recipe-item
.col-4b h3 {
  font-family: "PT Sans", sans-serif;
  color: #240C44;
  font-size: 20px;
}

/* line 269, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.button {
  border: 3px solid #240C44;
  border-radius: 10px;
  padding: 10px 15px;
  font-family: "Tajawal", sans-serif;
  font-size: 18px;
  color: #240C44;
  background-color: #EDD7BC;
  text-decoration: none;
  cursor: pointer;
}

/* line 281, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.button input:hover {
  border: 3px solid #ED682C;
  color: #ED682C;
}

/* Add a box around content */
/* line 287, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.box {
  padding: 15px;
  border: 2px solid #240C44;
  width: 400px;
  margin: 5px;
}

/* line 295, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.login-box {
  padding: 15px;
  border: 2px solid #240C44;
  width: 250px;
  margin: 5px;
}

/* line 302, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.grocery-list-box {
  padding: 15px;
  border: 2px solid #240C44;
  width: 400px;
  margin: 5px;
}
/* line 308, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.grocery-list-box p {
  font-family: "Tajawal", sans-serif;
  color: #240C44;
  font-size: 18px;
}
/* line 314, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.grocery-list-box a {
  text-decoration: underline;
  color: #240C44;
}
/* line 319, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.grocery-list-box a:hover {
  color: #E99367;
}
/* line 323, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.grocery-list-box h3 {
  font-family: "PT Sans", sans-serif;
  color: #240C44;
  font-size: 20px;
}

/* Grocery List Checklist */
/* line 333, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.items {
  display: flex;
  flex-direction: column;
  font-family: "Tajawal", sans-serif;
}
/* line 338, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.items h3 {
  font-family: "PT Sans", sans-serif;
}

/* line 343, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.done {
  order: 3;
}

/* line 351, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
input:checked + .ingredient-item {
  order: 4;
}

/* line 355, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.undone {
  order: 1;
}

/* line 359, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
label {
  order: 2;
}

/* Page Content */
/* line 365, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
#content {
  padding: 16px;
}

/* line 369, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.content-padding {
  margin-top: 70px;
}

/* stickiness with JS */
/* line 375, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.sticky {
  position: fixed;
  top: 0;
  margin-bottom: 60px;
  width: 99%;
}

/* line 382, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.sticky + .navbar {
  margin-bottom: 60px;
}

/* Flash Message Styling */
/* line 388, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.notice {
  border: thin solid black;
  background-color: #9ca315;
}

/* line 393, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.success {
  border: thin solid black;
  background-color: darkgreen;
}

/* line 398, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.error {
  border: thin solid black;
  background-color: darkred;
}

/* line 403, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.flash {
  color: white;
  text-align: center;
  padding: .3em .4em;
  margin: 0 auto .5em;
  clear: both;
  max-width: 46.923em;
  max-width: 45.750em;
}

/* Slideshow container */
/* line 414, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.slideshow-container {
  max-width: 550px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
/* line 421, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.mySlides {
  display: none;
}

/* Next & previous buttons */
/* line 426, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
/* line 441, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
/* line 447, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
/* line 452, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.text {
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
/* line 463, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.numbertext {
  color: #f2f2f2;
  font-size: 18px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
/* line 472, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* line 483, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}
/* line 499, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

/* line 513, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.center-search {
  display: flex;
  flex-direction: column;
  margin: 50px;
}
/* line 516, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.center-search a {
  font-family: "Tajawal", sans-serif;
  font-size: 22px;
  text-decoration: underline;
  color: #240C44;
}
/* line 522, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.center-search a:hover {
  color: #E99367;
}

/* line 529, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.search-bar {
  width: 250px;
  height: 25px;
}

/* line 534, /Users/jamesnelson/turing/personal_projects/recipes_and_lists/app/assets/stylesheets/custom.scss */
.search-button {
  width: 150px;
  height: 30px;
  background-color: #E99367;
  color: #F3E9DE;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
