<h3>Your Recipe Basket is almost ready to be turned into a Grocery List!</h3>

<% @basket.contents.each do |recipe, quantity| %>
  <% found_recipe =  @basket.find_recipe(recipe) %>
  <p><%= link_to found_recipe.title, recipe_path(recipe) %></p>
    <% found_recipe.recipe_ingredients.each do |recipe_ingredient| %>
      <p><%= "#{recipe_ingredient.ingredient.name}, #{recipe_ingredient.quantity} #{recipe_ingredient.measurement}" %></p>
    <% end %>
<% end %>

<% if current_user %>
  <%= link_to "Create Grocery List", new_user_grocery_list_path(current_user) %>
<% else %>
  <%= link_to "Register to Create a Grocery List", new_user_path %>
<% end %>
