---
http_interactions:
- request:
    method: post
    uri: https://www.amazon.com/landing
    body:
      encoding: UTF-8
      string: '{"ingredients":[{"name":"Ingredient 11","quantityList":[{"unit":"COUNT","amount":"3"}]},{"name":"Ingredient
        12","quantityList":[{"unit":"COUNT","amount":"3"}]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
      X-Sdch-Encode:
      - '0'
      Last-Modified:
      - Thu, 19 Apr 2018 15:09:53 GMT
      Etag:
      - '"671-56a34f6ae1240-gzip"'
    body:
      encoding: ASCII-8BIT
      string: <!doctype html><html><head><meta charset="utf-8"><meta http-equiv="x-ua-compatible"
        content="ie=edge"><meta name="viewport" content="width=device-width, initial-scale=1,
        shrink-to-fit=no"><title>Amazon.com Page Not Found</title><style>html,body{padding:0;margin:0}img{border:0}#a{background:#232f3e;padding:11px
        11px 11px 192px}#b{position:absolute;left:22px;top:12px}#c{position:relative;max-width:800px;padding:0
        40px 0 0}#e,#f{height:35px;border:0;font-size:1em}#e{width:100%;margin:0;padding:0
        10px;border-radius:4px 0 0 4px}#f{cursor:pointer;background:#febd69;font-weight:bold;border-radius:0
        4px 4px 0;-webkit-appearance:none;position:absolute;top:0;right:0;padding:0
        12px}@media(max-width:500px){#a{padding:55px 10px 10px}#b{left:6px}}#g{text-align:center;margin:30px
        0}#g img{max-width:90%}#d{display:none}#d[src]{display:inline}</style></head><body><a
        href="/"><img id="b" src="https://images-na.ssl-images-amazon.com/images/G/01/error/logo._TTD_.png"
        alt="Amazon.com"></a><form id="a" accept-charset="utf-8" action="/s" method="GET"
        role="search"><div id="c"><input id="e" name="field-keywords" placeholder="Search"><input
        id="f" type="submit" value="Go"></div></form><div id="g"><div><a href="/"><img
        src="https://images-na.ssl-images-amazon.com/images/G/01/error/title._TTD_.png"
        alt="Sorry! We couldn&#39;t find that page. Try searching or go to Amazon&#39;s
        home page."></a></div><a href="/dogsofamazon" target="_blank"><img id="d"
        alt="Dogs of Amazon"></a><script>document.getElementById("d").src="https://images-na.ssl-images-amazon.com/images/G/01/error/"+(Math.floor(Math.random()*43)+1)+"._TTD_.jpg";</script></div></body></html>
  recorded_at: Wed, 06 Jun 2018 00:56:03 GMT
recorded_with: VCR 4.0.0
